name: Build

on:
  push:
    branches:
      - dev*
      - main
      - dev-*
  pull_request:
    branches: 
      - dev*
      - main
      - dev-*

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Select Xcode 11.7
      run: sudo xcode-select -switch /Applications/Xcode_11.7.app

    - name: Xcode version
      run: /usr/bin/xcodebuild -version

    - name: Install swiftformat
      run: brew install swiftformat

    - name: pod install
      run: make pod-install
       
    - name: Linting
      run: make lint; make check-format

    - name: Run tests
      run: make test

    - name: Upload Code Coverage 
      run: bash <(curl -s https://codecov.io/bash) -v -X s3 -c -D "./build/out" -J "AEPUserProfile"
       
     
