name: Build

on:
  push:
    branches:
      - dev*
      - main
      - dev-*
  pull_request:
    branches: 
      - dev*
      - main
      - dev-*

jobs:
  build:

    runs-on: macos-13

    steps:
    - uses: actions/checkout@v2

    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: 15.0
        
    - name: Install swiftformat
      run: brew install swiftformat

    - name: pod install
      run: make pod-install
       
    - name: Linting
      run: make lint; make check-format

    - name: Run tests
      run: make test

    - name: Upload Code Coverage 
      uses: codecov/codecov-action@v3
      with:
        verbose: true
        name: aep-user-profile-ios
        move_coverage_to_trash: true

       
