name: Build

on:
  push:
    branches:
      - dev*
      - main
      - dev-*
  pull_request:
    branches: 
      - dev*
      - main
      - dev-*

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Select Xcode 11.7
      run: sudo xcode-select -switch /Applications/Xcode_11.7.app

    - name: Xcode version
      run: /usr/bin/xcodebuild -version

    - name: Install swiftformat
      run: brew install swiftformat

    - name: Install SwiftLint
      run: which swiftLint || brew install swiftlint
       
    - name: Linting
      run: make lint; make check-format

    - name: pod install
      run: make pod-install
      
    - name: Run tests
      run: make test

    - name: Upload Code Coverage 
      run: |
            curl -s https://codecov.io/bash > codecov;
            VERSION=$(grep 'VERSION=\"[0-9\.]*\"' codecov | cut -d'"' -f2);
            SHAVERSION=$(shasum -v);
            echo "Using CodeCov version '$VERSION'"
            echo "Using shasum '$SHAVERSION'"
            for i in 1 256 512
            do
              shasum -a $i -c --ignore-missing <(curl -s "https://raw.githubusercontent.com/codecov/codecov-bash/${VERSION}/SHA${i}SUM") ||
              shasum -a $i -c <(curl -s "https://raw.githubusercontent.com/codecov/codecov-bash/${VERSION}/SHA${i}SUM" | head -n 1)
            done
            bash ./codecov -v -X s3 -c -D "./build/out" -J "AEPUserProfile" 
       
